@font-face {
    font-family: "Gilroy";
    src: url("fonts/gilroyextrabold.woff") format("woff"),
         url("fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;     
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/gilroylight.woff") format("woff"),
         url("fonts/gilroylight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;     
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans.woff") format("woff"),
         url("fonts/opensans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;     
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensanslight.woff") format("woff"),
         url("fonts/opensanslight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;     
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 15px;
    line-height: 30px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

header {
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
    background-color: rgb(247, 226, 150);
    min-height: 299px;
    width: 1160px;
}

.main-navigation {
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 40px;
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
}

.header-left {
	position: relative;
	width: 440px;
	padding-top: 5px;
}

.main-navigation .main-header-logo {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    position: absolute;
    top: -45px;
}

.main-navigation .main-header-logo:hover {
    opacity: 0.6;
}

.main-navigation .main-header-logo:active,
.main-navigation .main-header-logo:focus {
    opacity: 0.3;
}

.main-navigation input {
	background-color: rgb(247, 226, 150);
    border: none;
    font-color: #ffffff;
    opacity: 0.3;
    outline: inherit;
    width: 355px;
    }

.main-navigation input:hover {
	background-color: rgb(247, 226, 150);
    border: none;
    opacity: 0.6;
}

.main-navigation input:focus {
	background-color: rgb(247, 226, 150);
    border: none;
    opacity: 1;
    border-bottom: 3px solid #000000;
}

.main-navigation .header-search-button {
	width: 79px;
    height: 43px;
    border: 3px solid #000000;
    background-color: rgb(247, 226, 150);
    outline: inherit;
    display: inline-block;
}

.main-navigation .header-search-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.main-navigation .header-search-button:active,
.main-navigation .header-search-button:focus {
	background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-header {
	padding-top: 30px;
}

.header-hidden-list {
	padding-left: 0;
	min-width: 555px;
	display: flex;
	justify-content: space-between;
}

.header-hidden-list ul {
	list-style: none;
}

.main-navigation li {
    list-style: none;
}

.left-hidden-list ul {
	padding-left: 0;
	min-width: 190px;
}

.center-hidden-list ul {
	padding-left: 0;
	min-width: 130px;
} 

.right-hidden-list ul {
	padding-left: 0;
	min-width: 120px;
}

.user-navigation .logout-link {
	opacity: 0.3;
}

.user-navigation {
	padding: 0;
}

.user-navigation li {
	display: inline-block;
}

.main-navigation a:hover {
    opacity: 0.6;
}

.main-navigation a:active,
.main-navigation a:focus {
    opacity: 0.3;
}

.header-nav {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.2em;
}

.header-center {
	width: 275px;
 }

.header-center ul {
	padding-left: 0;
}

.user-navigation {
	display: flex;
	justify-content: flex-start;
}


.site-navigation {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.site-navigation li {
	display: inline-block;
}

.header-right {
	width: 260px;
}

.header-right ul {
	padding-left: 0;
}

.help-navigation {
	display: flex;
	justify-content: flex-end;
}

.help-navigation li {
	display: inline-block;
	padding-left: 40px;
}

.header-contacts {
	padding-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.visually-hidden {
    display: none;
}





.container {
	padding: 0;
}

.popular-items {
	width: 1160px;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	}

.slide {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}

.slide-description {
	width: 480px;
	padding-right: 80px;
	position: absolute;
	top: -510px;
	right: 0px;
}

.slide-number {
	position: relative;
}

.slide-image {
	width: 580px;
	float: left;
	position: relative;
}

.slide-image img {
	position: absolute;
    top: -550px;
    left: 70px;
}

.popular-items .number {
    font-size: 179.2px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    line-height: 179.2px;
    position: absolute;
    right: -30px;
    top: -280px;
}

.popular-items .tagline {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 56px;
    padding: 0px;
    margin: 0;
    padding-bottom: 25px;
}

.popular-items .description {
	margin: 0;
	padding: 0px;
	padding-bottom: 55px;
}

.popular-items .popular-slide-button {
	margin: 0;
	padding: 0;
	position: relative;
	width: 220px;
	text-align: center;
	padding-bottom: 60px;
}

.popular-items .button::before {
	position: absolute;
	bottom: 70px;
}

.popular-items .qualities {
	padding: 0;
	margin: 0;
	width: 500px;
}

.qualities tr {
	padding-bottom: 15px;
}

.popular-items .values {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    }

.popular-items .units {
    font-size: 13px;
}


.button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: inherit;
    text-align: center;
 }


.button:active {
    color: rgba(0, 0, 0, 0.3);

}

.button::before {
	content: "";
	display: block;
	width: 260px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    z-index: -1;
}    

.button:hover::before,
.button:focus::before,
.button:active::before {
	transform: scaleY(5);
	transition-duration: 0.6s;
	background-color: rgba(240, 197, 46, 1);
}

.slide-button::before {
	content: "";
	display: block;
	width: 220px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    z-index: -1;
}

.slide-button:hover::before,
.slide-button:focus::before,
.slide-button:active::before {
	transform: scaleY(5);
	transition-duration: 0.6s;
} 

.write-button {
	border: none;
	outline: inherit;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	
}

.write-button:active {
	color: rgba(0, 0, 0, 0.3);
}

.write-button::before {
	content: "";
	display: block;
	width: 200px;
    height: 8px;
    background-color: rgba(240, 197, 46, 1);
    z-index: -1;
}

.write-button:hover::before,
.write-button:focus::before,
.write-button:active::before {
	transform: scaleY(5);
	transition-duration: 0.6s;
	background-color: rgba(240, 197, 46, 1);
}       





.main-catalog {
	list-style: none;
	min-height: 240px;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 480px;
	margin-bottom: 75px;
}

.main-catalog-list {
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}

.main-catalog li {
    display: inline-block;
    width: 160px;
 }

.main-catalog .catalog-image {
    height: 120px;
    width: 160px;
    background-color: rgb(247, 226, 150);
    margin-bottom: 40px;
    padding-top: 40px;
   }

.main-catalog img {
	display: block;
	margin-left: auto;
	margin-right: auto;
   }

.main-catalog-list p {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    }

.main-catalog a:hover .catalog-image,
.main-catalog a:focus .catalog-image,
.main-catalog a:active .catalog-image {
	background-color: rgb(240, 197, 46);
}

.main-catalog a:active img,
.main-catalog a:active p {
    opacity: 0.3;
}





.services {
    width: 100%;
    min-height: 340px;
    background-color: rgb(229, 229, 229);
    z-index: -2;
}

.services-menu {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.services-list {
    list-style: none;
}

.services-menu-list {
	width: 285px;
	float: left;
	position: relative;
}

.services-list {
	padding-left: 0;
	position: absolute;
	top: -25px;
}

.services-list .catalog-button {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.2em;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	outline: inherit;
	z-index: 1;
}

.services-list .catalog-button:focus {
    color: rgb(247, 225, 132);
}

.serv-list-button {
	position: relative;
	margin-bottom: 50px;
}

.services-list .catalog-button::before {
	content: "";
	display: block;
    width: 160px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    margin-bottom: 50px;
    position: absolute;
    top: 10px;
}   

.services-list .catalog-button:hover::before {
    transform: scaleY(5);
    transition-duration: 0.6s;
}

.services-list .catalog-button:active::before,
.services-list .catalog-button:focus::before {
    transform: scale(1.7, 5);
    transition-duration: 0.6s;
    background-color: #000000;
}

.service-slide {
	margin-left: 400px;
	width: 440px;
	position: relative;
	padding-top: 55px;
}

.services h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: bold;
    font-size: 47px;
    position: absolute;
    top: -65px;
}

.services p {
	line-height: 30px;
}




.logos {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	}

.logos ul {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.logos li {
	padding: 0;
	display: inline-block;
}

.logo-list img {
    filter: grayscale(1) opacity(0.2);
}

.logo-list img:hover,
.logo-list img:focus {
	filter: grayscale(0) opacity(1);
}


.columns {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.about-us {
	width: 500px;
	}

.about-us h2 {
	font-family: "Gilroy", Arial, sans-serif;
    font-weight: bold;
    font-size: 47px;
    padding-bottom: 50px
}

.about-us p {
	line-height: 30px;
	padding-bottom: 40px;
}

.about-us ul {
	list-style: none;
	margin-bottom: 45px;
}

.about-us li{
    font-weight: bold;
    font-family: "Gilroy", Arial, sans-serif;
    padding-bottom: 20px;
}

.about-us .button {
	position: relative;
	padding-left: auto;
	padding-right: auto;
}

.about-us .button::before {
	position: absolute;
	top: 5px;
}

.contacts {
    width: 570px;
}

.contacts h2 {
	font-family: "Gilroy", Arial, sans-serif;
    font-weight: bold;
    font-size: 47px;
    padding-bottom: 50px;
} 

.contacts p {
    line-height: 30px;
    padding-bottom: 40px;
}

.contacts img {
	display: block;
	margin-bottom: 80px;
}

.contacts .button {
	position: relative;
	text-align: center;
}

.contacts .button::before {
	position: absolute;
	top: 5px;
}


.modal {
	position: fixed;
	left: 22%;
	top: 15%;
	width: 760px;
	min-height: 553px;
	box-shadow: 0 10px 15px 5px rgba(2, 6, 6, 0.2);
	z-index: 1;
	border: none;
}

.modal-write {	
	padding-left: 100px;
	padding-right: 100px;
	background-color: #ffffff;
	padding-top: 90px;
	padding-bottom: 90px;
	
}

.modal-write label {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.modal-write input {
	width: 340px;
	height: 50px;
	padding-left: 20px;
	vertical-align: middle;
	border: none;
	background-color: rgba(242, 242, 242, 0.5);
	color: rgba(70, 70, 70, 0.4);
	font-size: 14px;
	display: inline-block;
}

.modal-write textarea {
	width: 740px;
	height: 136px;
	border: none;
	background-color: rgba(242, 242, 242, 0.5);
	color: rgba(70, 70, 70, 0.4);
	font-size: 14px;
	padding-top: 20px;
}

.modal-write input:hover,
.modal-write textarea:hover {
	background-color: rgba(242, 242, 242, 0.8);
}

.modal-write input:focus,
.modal-write textarea:focus {
	background-color: #ffffff;
	border: 3px solid rgb(247, 226, 150);
	color: rgba(70, 70, 70, 1);
}

.modal-write input:invalid,
.modal-write textarea:invalid {
	background-color: rgba(246, 218, 218, 0.5);
	border: none;
}

.modal-close {
	border: none;
	background-color: #ffffff;
}	

.modal-close::before {
	content: "";
	display: block;
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	opacity: 0.5;
}

.modal-close:hover::before {
	opacity: 1;
}

.modal-close:active::before,
.modal-close:focus::before {
	opacity: 0.3;
}

.write-button {
	position: relative;
}

.write-button::before {
	position: absolute;
	top: 30px;
}

.modal-map {
	background-image: url("../img/map-big.jpg");
	background-repeat: no-repeat;
	width: 960px;
	height: 559px;
}

footer {
	width: 100%;
	background-color: rgb(70, 70, 70);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
}

footer .footer-logo {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	color: rgb(255, 198, 0);
}

footer .footer-logo:hover {
	opacity: 0.6;
}

footer .footer-logo:active,
footer .footer-logo:focus {
	opacity: 0.3;
}

footer .address {
	color: #ffffff;
	padding-top: 30px;
}

.footer-center {
	padding-top: 70px;
}

footer .footer-nav {
	list-style: none;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding-bottom: 60px;
}

.footer-nav li {
	display: inline-block;
	padding-left: 0;
	padding-right: 35px;
}

.footer-nav a {
	color: #ffffff;
}

.footer-nav a:hover {
	opacity: 0.6;
}

.footer-nav a:active,
.footer-nav a:focus {
	opacity: 0.3;
}

footer .social-buttons {
	list-style: none;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}

.social-buttons li {
	display: inline-block;
	width: 40px;
	height: 40px;
	opacity: 0.3;
	background-repeat: no-repeat;
	opacity: 0.3;
	padding-left: 0px;
	padding-right: 15px;

}

.social-buttons li:hover {
	opacity: 0.6;
}

.social-buttons li:focus,
.social-buttons li:active {
	opacity: 0.1;
}

.social-buttons .facebook {
	background-image: url("../img/fb.svg");
}

.social-buttons .ig {
	background-image: url("../img/instagram.svg");
}

.social-buttons .twitter {
	background-image: url("../img/twitter.svg");
}

.footer-user-navigation,
.footer-help-navigation {
	list-style: none;
	display: inline-block;
	padding: 0;
}

.footer-user-navigation li,
.footer-help-navigation li {
	display: inline-block;
	padding: 0px;
	padding-left: 35px;
}

.footer-right a {
	color: #ffffff;
	opacity: 0.7;
}

.footer-right a:hover {
	opacity: 1;
}

.footer-right a:focus,
.footer-right a:active {
	opacity: 0.3;
}

footer .tel {
	color: #ffffff;
	padding-top: 10px;
	padding-left: 130px;
	margin-bottom: 80px;
}

.footer-copyright {
	background-image: url("../img/logo-html.svg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	margin-left: 280px;
}

.footer-copyright:hover {
	opacity: 0.6;
}

.footer-copyright:focus, 
.footer-copyright:active {
	opacity: 0.3;
}



.monopods-page {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 35px;
	padding-bottom: 45px;
	padding-left: 60px;
}

main h1 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 47px;
	}

.breadcrumbs {
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	display: inline-block;
	font-size: 14px;
	opacity: 0.3;
	padding-right: 35px;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:focus,
.breadcrumbs a:active {
	opacity: 0.1;
}

.page-contain {
    width: 100%;
    background-image: linear-gradient(to right, rgb(238, 238, 238) 0%, rgb(238, 238, 238) 50%, #ffffff 50%, #ffffff 100%);
    margin: 0;
    padding: 0;
   }

.item-catalog-header {
	width: 100%;
	height: 70px;
	background-image: linear-gradient(to right, rgb(219, 219, 219) 0%, rgb(219, 219, 219) 50%, rgb(238, 238, 238) 50%, rgb(238, 238, 238) 100%);
}

.header-elements {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

.header-elements h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	width: 270px
	margin-top: 0;
	padding-top: 5px;
	float: left;
	margin-left: 30px;
}

.sorting {
	display: inline-block;
	width: 865px;
	height: 70px;
	float: right;
    background-color: rgb(238, 238, 238);
}

.sorting ul {
	display: inline-block;
	list-style: none;
	padding-left: 0;
}

.sorting li {
	display: inline-block;
	padding-left: 0;
	padding-right: 25px;
}

.sorting .sort {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding-left: 70px;
	padding-right: 55px;
	height: 70px;
	vertical-align: middle;
}

.sorting a {
	font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    opacity: 0.3;
}

.sorting a:hover {
	opacity: 0.6;
}

.sorting a:active {
	opacity: 1;
}

.catalog-content {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.filter {
	width: 270px;
	padding-left: 10px;
	float: left;
}

.filter ul,
.filter li {
	padding-left: : 0;
}

.filter-form label,
.filter-form legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.cost-field input {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 14px;
	border: none;
	background-color: rgb(238, 238, 238);
}

main form fieldset{
	border: none;
}

main ul {
	list-style: none;
}

.filter-field label {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.filter-form input:checked label {

}

.filter-form input:checked:hover label {

}

.filter-form input:checked:active label {

}

.filter-form input:hover label {

}

.filter-form input:active label {

}

.catalog-items {
	width: 800px;
	background-color: #ffffff;
	margin-top: 0;
	margin-left: 0;
	padding-top: 70px;
	padding-left: 70px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 295px;
}

.catalog-items figure {
	display: inline-block;
	width: 360px;
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}

.catalog-items .mono-name {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	float: left;
}

.catalog-items .mono-cost {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	float: right;
}

.catalog-items figure:hover {

}

.catalog-items .to-compare {
	border: none;
	background-color: rgba(255, 255, 255, 0);
	font-size: 13px;
	opacity: 0.5;
    outline: inherit;
}

.catalog-items .to-compare:hover {
	opacity: 1;
}

.catalog-items .to-compare:active {
	opacity: 0.2;
}

.catalog-pagination {
	min-width: 810px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(235, 235, 235);
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;

}

.pagination-pages {
	display: inline-block;
}

.catalog-pagination li {
	display: inline-block;
	padding-left: 0;
	padding-right: 25px;
	padding-top: 25px;
}

.catalog-pagination a {
	font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.catalog-pagination .back-next {
	display: inline-block;
	height: 70px;
	width: 60px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 35px;
}

.catalog-pagination .back-next:hover {
	background-color: rgb(217, 217, 217);
}

.catalog-pagination .back-next:active {
	background-color: rgb(217, 217, 217);
	opacity: 0.3;
}

.pagination-pages a {
	opacity: 0.3;
}

.pagination-pages a:hover,
.pagination-pages a:active {
	opacity: 1;
}

.footer-login-link .logout {
	border: none;
	background-color: rgba(155, 255, 255, 0);
	outline: inherit;
}